<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data-attribute"
	layout:decorate="~{layout/layout-padrao}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/pesquisa-catalogo.css}"/>
</head>

<body>
<section layout:fragment="conteudo">

<div class="page-header">
	<div class="container-fluid">
		<h1>
			Pesquisa de Alimentos
		</h1>
	</div>
</div>

<div class="container-fluid">

	<div class="alert  alert-success" th:if="${!#strings.isEmpty(mensagem)}">
		<span th:text="${mensagem}"></span>
	</div>

	<form method="GET" class="form-vertical  js-form-loading" th:object="${alimentoFilter}">
		<div class="form-group">
			<div class="input-group">
				<input id="nome" type="text" th:field="*{nome}" class="form-control" 
					placeholder="Pesquise pelo nome"/>
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">
						<span class="glyphicon  glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>
	</form>
	
	<div class="table-responsive">
		<table id="tabela-catalogo" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
			<thead class="aw-table-header-solid">
				<tr>
					<th class="av-table-catalogo-col-id">id</th>
					<th class="av-table-catalogo-col-nome">Nome</th>
					<th class="av-table-catalogo-col-grupo">Grupo</th>
					<th class="av-table-catalogo-col-composicao">Composição</th>
					<th class="av-table-catalogo-col-variedades">Variedades</th>
					<th class="av-table-catalogo-col-caloria">Caloria</th>
					<th class="av-table-catalogo-col-porcao_diaria">Porção Diária</th>
					<th class="av-table-catalogo-col-descricao">Descrição</th>
					<th class="av-table-catalogo-col-icons" sec:authorize="hasAuthority('ADMIN')"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="alimentoPesquisa : ${alimentosPesquisa}">
					<td th:text="${alimentoPesquisa.id}" class="text-center">1</td>
					<td class="text-center">
						<a th:href="@{/alimento/{id}(id=${alimentoPesquisa.id})}" th:text="${alimentoPesquisa.nome}" sec:authorize="hasAuthority('ADMIN')"></a>
						<span th:text="${alimentoPesquisa.nome}" sec:authorize="not hasAuthority('ADMIN')"></span>
					</td>
					<td th:text="#{|alimentoGrupo.${alimentoPesquisa.grupo}|}" class="text-center">Carboidratos</td>
					<td th:text="|${{alimentoPesquisa.composicao}}|" class="text-center">composicao</td>	
					<td th:text="|${{alimentoPesquisa.variedades}}|" class="text-center">variedades</td>
					<td th:text="|${{alimentoPesquisa.caloria}} cal|" class="text-center">caloria</td>
					<td th:text="|${{alimentoPesquisa.porcaoDiaria}}|" class="text-center">2</td>
					<td th:text="|${{alimentoPesquisa.descricao}}|" class="text-center">descricao</td>
					<td class="text-center" sec:authorize="hasAuthority('ADMIN')">
						<i class="fa  fa-trash" style="cursor:pointer"
							data-toggle="modal" data-target="#confirmaExclusaoModal"
							data:nome="${alimentoPesquisa.nome}" 
							data:url-apagar="@{/alimento/{id}(id=${alimentoPesquisa.id})}"></i>
					</td>
				</tr>
				<tr th:if="${alimentosPesquisa.empty}">
					<td colspan="5">Nenhum alimento cadastrado</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="modal  fade" id="confirmaExclusaoModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
  		<div class="modal-content">
  			<form th:action="@{/alimento}" method="POST">
  				<input type="hidden" name="_method" value="DELETE"/>
     			<div class="modal-header">
	       			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	       				<span aria-hidden="true">&times;</span>
	       			</button>
	       			<h4 class="modal-title" id="myModalLabel">Excluir </h4>
     			</div>
     			<div class="modal-body">
       				<span>Tem certeza?</span>
     			</div>
     			<div class="modal-footer">
       				<button type="button" class="btn  btn-default" data-dismiss="modal">Cancelar</button>
       				<button type="submit" class="btn  btn-primary">Excluir</button>
     			</div>
     		</form>
  		</div>
	</div>
</div>

</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/excluir-modal.js}"></script>
</th:block>

</body>
</html>